* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.Side-bar {
  width: 300px;
  height: 100vh;
  .user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    .top-items {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__name {
        color: #ffffff;
        font-size: 16px;
      }
      &__icons {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        .strong {
          margin-left: 5px;
          color: #ffffff;
        }
      }
    }
  }
  .group-list {
    background-color: #2f3e51;
    height: calc( 100vh - 100px);
    .groups {
      padding: 20px 0px 40px 20px;
      &__name {
        color: #ffffff;
        font-size: 16px;
      }
      &__message {
        color: #ffffff;
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}

.Chat-main {
  width: calc( 100vw - 300px);
  height: 100vh;
  .group-info {
    background-color: #ffffff;
    height: 100px;
    border-bottom: #eeeeee;
    display: flex;
    justify-content: space-between;
    .info-left {
      margin-left: 40px;
      &__test {
        color: #333333;
        font-size: 20px;
        padding: 35px 0px 15px 0px;
      }
      &__member-name {
        color: #999999;
        font-size: 12px;
      }
    }
    .info-right {
      margin-right: 40px;
      display: flex;
      justify-content: center;
      .edit-btn {
        text-decoration: none;
      }
      .edit {
        color: #38aef0;
        font-size: 16px;
        border: solid 1px #38aef0;
        height: 40px;
        width: 72px;
        padding: 0px 20px;
        margin-top: 28px;
        text-align: center;
        line-height: 40px;
      }
    }
  }
  .message-list {
    background-color: #fafafa;
    height: calc( 100vh - 100px - 90px);
    .name-date {
      display: flex;
      padding: 35px 0px 12px 40px;
      &__chat-name {
        color: #333333;
        font-size: 16px;
      }
      &__date {
        color: #999999;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    .list {
      padding: 0px 0px 46px 40px;
      .list-message {
        color: #434a54;
        font-size: 14px;
      }
    }
  }
  .message-form {
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 50px 20px 40px;
    .form {
      width: 100%;
      .new-message {
        display: flex;
        .input-box {
          display: flex;
          width: 100%;
          position: relative;
          .input-box__text {
            width: 100%;
            border: none;
            padding:0px 45px 0px 15px;
          }
          .input-box__image {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 25px;
            line-height: 25px;
            .input-box__image__file {
              display: none;
            }
          }
        }
        .submit-btn {
          color: #ffffff;
          font-size: 16px;
          background-color: #38aef0;
          border: none;
          height: 50px;
          padding: 0px 30px;
          margin-left: 15px;
        }
      }
    }
  }
}
