* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.Side-bar {
  width: 300px;
  height: 100vh;
  .user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    color: #ffffff;
    .top-items {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      color: #ffffff;
      &__name {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
      }
      &__icons {
        display: flex;
        justify-content: end;
        .icon-btn {
          margin-left: 5px;
          color: #ffffff;
          font-size: 16px;
        }
      }
    }
  }
  .group-list {
    background-color: #2f3e51;
    height: calc( 100vh - 100px);
    .groups {
      padding: 20px 0px 40px 20px;
      &__name {
        color: #ffffff;
        font-size: 16px;
      }
      &__message {
        color: #ffffff;
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}

.Chat-main {
  width: calc( 100vw - 300px);
  height: 100vh;
  .group-info {
    background-color: #ffffff;
    height: 100px;
    padding: 0px 40px 0px 0px;
    border-bottom: #eeeeee;
    display: flex;
    justify-content: space-between;
    .info-left {
      margin-left: 40px;
      &__test {
        color: #333333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__member-name {
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
      }
    }
    .info-right {
      display: block;
      border: 1px solid #38aef0;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0px 20px;
      .edit-btn {
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  .message-list {
    background-color: #fafafa;
    height: calc( 100vh - 100px - 90px);
    padding: 35px 40px 0px;
    .MessageBox {
      margin-bottom: 46px;
      .MessageInfo {
        display: flex;
        .MessageInfo__userName {
          font-size: 16px;
          color: #434a54;
          font-weight: bold;
        }
        .MessageInfo__date {
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .Message {
        margin-top: 12px;
        .Message__content {
          font-size: 14px;
        }
      }
    }
    .list {
      padding: 0px 0px 46px 40px;
      .list-message {
        color: #434a54;
        font-size: 14px;
      }
    }
  }
  .message-form {
    background-color: #dddddd;
    height: 90px;
    padding: 20px 50px 20px 40px;
    box-sizing: border-box;
    .Form {
      display: flex;
      justify-content: space-between;
      .Form__contents {
        width: 100%;
        position: relative;
        background-color: #fff;
        .Form__inputContent {
          height: 50px;
          width: 100%;
          border: none;
          padding:0px 45px 0px 15px;
        }
        .Form__inputImage {
          position: absolute;
          right: 10px;
          height: 50px;
          .Form__icon {
            line-height: 50px;
            font-size: 25px;
          }
          .Hidden {
            display: none;
          }
        }
      }
    }
    .Form__submit {
      color: #ffffff;
      font-size: 16px;
      background-color: #38aef0;
      border: none;
      height: 50px;
      padding: 0px 30px;
      margin-left: 15px;
    }
  }
}